:root {
    --primary-color: #031A6B;
    --secondary-color: #033860;
    --accent1-color: #05B2DC;
    --accent2-color: #DDFFF7;
  }

  * {
    max-width: 1000px;
    background-color: var(--accent2-color);
    margin: auto;
  }

header {
    display: inline;
}


.hero {
    width: 100%;
    position: relative;
    height: 600px;
}
 div img {
    position: absolute;
    width: 100%;
 }

h1 {
    position: absolute;
    width: 96%;
    top: 50px;
    text-align: center;
    padding: 20px;
    background-color: rgba(25, 69, 80, 0.4);
    color: var(--accent1-color);
}

article {
    position: absolute;
    font-size: 20px ;
    bottom: 10%;
    color: var(--accent1-color);
    background-color: rgba(238, 245, 247, 0.4);
    
}


article img {
    position: relative;
    float: right;
    width: 200px;
}

p{
    color: var(--accent1-color);
}

h2 { 
    font-size: 40px;
    color: var(--accent1-color);
}

footer { 
    text-decoration: none;
  }

section {
    position: relative;
}

section img {
    width: 100px;
    height: 80px;
}
